<section class="post-container">
<div layout-fill layout="column" layout-align="center" class="mat-card">
  <div class="mat-card-subtitle">{{post.createdAt}}</div>
  <img class="featured-image" [src]="post.imageUrl" alt="Naslovna slika">
  <mat-chip-list>
    <mat-chip class="tag-chip" *ngFor="let tag of post.tags">
      {{tag.name}}
    </mat-chip>
  </mat-chip-list>
    <div class="mat-card-title-group">
      <div class="mat-card-title">
        <a class="no-decoration"  [routerLink]="['/blog/',post.id]">{{post.title}}</a>
      </div>
    </div>
    <div class="mat-card-content">
      {{post.content.slice(0,100)}}...
    </div>
    <div layout="row"
         class="mat-card-actions"
         layout-align="start end" flex>
      <span flex></span>
      <button mat-button [routerLink]="'/blog/'+ post.id ">
        <span>Nastavi čitanje</span>
      </button>
    </div>
  </div>
</section>

