<mat-nav-list>
  <a mat-list-item routerLink="/blog" (click)="onSidenavClose()">
    <mat-icon>content_paste</mat-icon> <span class="nav-caption">Blog</span>
  </a>
  <a mat-list-item routerLink="/podkast" (click)="onSidenavClose()">
    <mat-icon>mic</mat-icon> <span class="nav-caption">Podkast</span>
  </a>
  <a mat-list-item routerLink="/okce" (click)="onSidenavClose()">
    <mat-icon>account_balance</mat-icon><span class="nav-caption">OKCe</span>
  </a>
  <a mat-list-item routerLink="kontakt" (click)="onSidenavClose()">
    <mat-icon>palette</mat-icon><span class="nav-caption">Kontakt</span>
  </a>
</mat-nav-list>
