<mat-nav-list>
      <a mat-list-item routerLink="/blog" (click)="onSidenavClose()">
        <mat-icon>content_paste</mat-icon> <span class="nav-caption">BLOG</span>
      </a>
      <a mat-list-item routerLink="/podkast" (click)="onSidenavClose()">
        <mat-icon>mic</mat-icon> <span class="nav-caption">HAKATON</span>
      </a>
      <a mat-list-item routerLink="/okce" (click)="onSidenavClose()">
        <mat-icon>palette</mat-icon><span class="nav-caption">OKCe</span>
      </a>
      <a mat-list-item routerLink="kontakt" (click)="onSidenavClose()">
        <mat-icon>contact_mail</mat-icon><span class="nav-caption">KONTAKT</span>
      </a>
</mat-nav-list>
