.wrapper{
  width:100%;
  height:100%;
  display: grid;
  grid-template-areas:"navigation main-content";
  grid-template-columns: 0.25fr 1fr;
}

.main-container{
  width:100%;
  height:100%;
  grid-area:main-content;
}

.panel-button{
}

.panel-icon{
  color: #673ab7;
}
mat-sidenav{
  position: absolute;
  top: 110px;
  width: 270px;
  height: 100%;
  min-height: 60%;
}
