.wrapper{
  display: grid;
  grid-template-areas:"navigation main-content";
  grid-template-columns: 14% 86%;
}

.side-nav-wrapper{
  grid-area: navigation;
  width: 100%;
  height: 100%;
}

.main-container{
  width:100%;
  height:100%;
  grid-area:main-content;
}

.panel-icon{
  color: #673ab7;
}

mat-sidenav{
  position: absolute;
  top: 120px;
  width: 240px;
}

