<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="md-padding">
  Prati taj gas!
  <div id="btmFooter" flex>
    <a href="https://www.youtube.com/channel/UCkCsly_JrYx5aQeYWbsk6aA?view_as=subscriber" class = "fa fa-youtube"></a>
    <a href="https://www.instagram.com/gasistenti/" class = "fa fa-instagram"></a>
    <a href="https://www.facebook.com/lestarnost" class = "fa fa-facebook"></a>
    <a href="https://twitter.com/login?lang=sr" class = "fa fa-twitter"></a>
  </div>
  <div class="site-info"> © 2020 Gita</div>
</footer>
