@import url('../../../../assets/styles/link-styles.css');

.post-wrapper{
  text-align: center;
  justify-items: center;
}

.post-cover-image{
  display: inline-block;
  overflow: hidden;
}

.post-cover-image img{
  width: 100%;
  height: auto;
}



.post-detail-header {
  padding: 15px;
}

.post-detail-title {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 65px;
  font-weight: bold;
  padding-bottom: 5px;
  text-align: center;
}

.post-detail-subtitle {
  font-size: 20px;
  padding-bottom: 5px;
  color: grey;
  text-align: center;
}

.post-detail-content {
  padding-top: 15px;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 1.5rem;
  text-align: start;
  font-family: "Courier New", Courier, monospace;
}

.avatar{
  position: relative;
  top: 13px;
  border: white none 1px;
  border-radius: 50%;
}
