<section class = "post-wrapper" *ngIf="post">

    <div class="post-cover-image">
      <img [src]="post.imageUrl">
    </div>

    <div class="post-detail-header">
      <div class="post-detail-title" >
        {{post.title}}
      </div>
      <div class="post-detail-subtitle">
        <img class="avatar" [src]="post.author.profileImage" title="Aleksandar Gitaric" alt="Avatar">
        {{post.author.username}}
        <span class="delimiter">&bull;</span>
        {{post.createdAt}}
      </div>
    </div>

    <div class="post-detail-content">
      <div [innerHtml]="post.content" class="markdown-body">
      </div>
    </div>

</section>
