<section class="mat-tree-node"
         fxLayout="row"
         fxLayoutAlign="center center">
  <div class="post-detail" *ngIf="post">
    <img [src]="post.imageUrl">
    <div class="post-detail-header">
      <div class="post-detail-title" >
        {{post.title}}
      </div>
      <div class="post-detail-subtitle">
        <img class="avatar" [src]="post.author.profileImage" title="Aleksandar Gitaric" alt="Avatar">
        {{post.author.username}}
        <span class="delimiter">&bull;</span>
        {{post.createdAt}}
      </div>
    </div>
    <div class="post-detail-content">
      <div [innerHtml]="post.content" class="markdown-body">
      </div>
    </div>

    <div class="post-detail-actions">
      <mat-chip-list>
        <mat-chip *ngFor="let tag of post.tags">
          <a [routerLink]="'/tag/'+tag.id">{{tag.name}}</a>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</section>
