<div class="wrapper">
  <div class="login-container">
    <div class="login-form-container">
      <h3>Ko si bre ti?</h3>
      <mat-form-field>
        <input matInput [(ngModel)]="username" placeholder="Korisničko ime">
      </mat-form-field>
      <mat-form-field>
        <input class = "password" [(ngModel)]="password" matInput placeholder="Lozinka" [type]="hide? 'password' : 'text'">
        <button class = "visible"  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="submit_form()">Upadam</button>
    </div>
  </div>
</div>
