@import 'https://fonts.googleapis.com/css?family=Montserrat|Open+Sans';

mat-toolbar{
  height: 10%;
}
a {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 1.8rem;
  color: #f0e3ff;
  text-decoration: none;
}

a:hover, a:active{
  color: #d89cf6;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media(max-width: 959px){
  mat-toolbar{
  }
}

.brand{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 2.3rem;

}
