<div class="add-blog-container">

    <div class="add-blog-main-form">
      <div class="add-blog-input-title">
        <mat-form-field>
          <label for="title">
            <input id="title" matInput type="text" [(ngModel)]="title" placeholder="Naslov">
          </label>
        </mat-form-field>
      </div>
      <div class="add-blog-input-content">
        <ckeditor class="ckeditor-link-override" [editor]="Editor" [(ngModel)]="model.editorData" [data]=""></ckeditor>
      </div>
    </div>

    <div class="add-blog-additional-form">
      <div class="add-blog-additional-feature-image">
        <div *ngIf="!previewImage" class="feature-image-placeholder">
          <img src="assets/images/placeholder.png">
        </div>
        <input #imageInput
               type="file"
               accept="image/*"
               hidden
               (change)="processFile(imageInput)">
        <img class="preview-image" [src]="previewImage" *ngIf="previewImage" alt="Naslovna-slika">
        <button mat-raised-button color="primary" (click)="imageInput.click()" >
          {{previewImage ? 'Promeni naslovnu fotku': 'Izaberi naslovnu fotku'}}
        </button>
      </div>
      <div class="add-blog-additional-tags">
        <span class="hashtags">#Heštegovi</span>
        <app-tag (whenTagAdded)="addTag($event)"></app-tag>
      </div>
      <button mat-raised-button id="create-action" (click)="open_dialog('Oćeš sigurno ovo da objaviš?')">Objavi</button>
    </div>

</div>

<mat-spinner *ngIf="showSpinner" class="progress-spinner" diameter="50" ></mat-spinner>



