.panel-toolbar{
  grid-area: navigation;
  height: 100%;
  background-color: #673ab7;
}
.nv-container-heading{
  font-size: 2em;
  color: #f0e3ff;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 15px;
  align-self: center;
}

.nv-container-links{
  padding-top: 10px;
  display: grid;
  grid-template-rows: repeat(3, 90px);
  width: 100%;
}

hr{
  width: 90%;
  opacity: 0.8;
}

.nv-container-links button{
  margin-bottom: 10px;
  font-size:1em;
  background-color: #916dd5;
  color: #f0e3ff;
  cursor: pointer;
  font-weight: lighter;
  text-align: start;
}
.nv-container-links button:hover{
  background-color: #d89cf6;
}

.nv-container-links button mat-icon{
  margin-right:10px;
}

#signout-button{
  background-color: crimson;
  color: white;
}

#signout-button:hover{
  background-color: #ed6663;
  color: white;
}
